.Name {
    border: '5px solid pink';
    text-align: center;
}

.Login {
    text-align: center;
    border: black;
}

.form {
    text-align: center;
    vertical-align: middle;
    align-items: center;
}

.login {
    background: #9CECFB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: auto;
}

.gallery-grid {
    width: 400px;
    
}

.transcript {
    margin-left: 60px;
    line-height: 2.0;
}

.react-photo-gallery--gallery div {
    flex-flow: nowrap !important;
  }
  
.react-photo-gallery--gallery{

    flex-flow: nowrap !important;

}